<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590849824309-jccjtd26dsj9hepjrtc290ufg811umoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590849824309-jccjtd26dsj9hepjrtc290ufg811umoc</string>
	<key>API_KEY</key>
	<string>AIzaSyDsqc8UAJZXkDf_ePOKAVfoPb5I1Tq3gGE</string>
	<key>GCM_SENDER_ID</key>
	<string>590849824309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jocampos.podcast</string>
	<key>PROJECT_ID</key>
	<string>podcastebac</string>
	<key>STORAGE_BUCKET</key>
	<string>podcastebac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590849824309:ios:87aba9619c385e3d0e837c</string>
</dict>
</plist>